<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Bootstrap helloword</title>

    <!-- Bootstrap -->
    <link  th:href="@{/css/bootstrap.min.css}" rel="stylesheet"   type="text/css">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script  th:src="@{/js/jquery-3.4.0.min.js}" type="text/javascript"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script  th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="jumbotron">
            <h1>出错啦</h1>
            <p th:text="${message}"> 服务太热了，要不然等下再来试试</p>
            <p><a class="btn btn-primary btn-lg" href="/index" role="button"> learn more</a></p>
        </div>
    </div>
</div>
</body>
</html>